<h2>Danh sách câu hỏi</h2>
<!-- <app-search [textSearch]="urlQuery.keyword" (search)="GetAllExamAdmin($event)"></app-search> -->
<table class="table-bordered table-hover" style="font-weight: 500;">
    <thead>
        <tr>
            <td>questionContent</td>
            <td>explaint</td>
            <td>levelId</td>
            <td>userCreate</td>
            <td>sua</td>
            <td>Xóa</td>
        </tr>
    </thead>
    <tbody *ngIf="Total == 0">
        <tr>
            <td colspan="3">Hiện chưa có bài thi nào</td>
        </tr>
    </tbody>
    <tbody *ngIf="Total >0">
        <tr *ngFor="let item of listQuestion.result?.items">
            <td>{{item.questionContent}}</td>
            <td>{{item.explaint}}</td>
            <td>{{item.levelId}}</td>
            <td>{{item.userCreate}}</td>
          <td>
            <a [routerLink]="['/exam/question/update-question/'+item.id,{admin: true}]" routerLinkActive="router-link-active" class="btn btn-outline-primary">
                sua
            </a>
          </td>
            <td>
              <button class="btn btn-outline-danger"  (click)="deleteQuestion(item.id)">
              Xóa đề thi
              </button>
          </td>
        </tr>
    </tbody>
</table>


<app-notification></app-notification>
<app-footer></app-footer>
