<app-header-v2></app-header-v2>
<h2>Danh sách bài thi</h2>
<app-search [textSearch]="urlQuery.keyword" (search)="GetListExamCreateCurrentUser($event)"></app-search>
<table class="table-bordered table-hover" style="font-weight: 500;">
    <thead>
        <tr>
            <td>Id</td>
            <td>Tiêu đề</td>
            <td>Tác giả</td>
            <td>Công khai</td>
            <td>Mức độ</td>
            <td>thời gian làm bài</td>
            <td>Số lượng câu hỏi</td>
            <td>Câu hỏi</td>
            <td>Tạo câu hỏi</td>
            <td>Tạo bài thi</td>
            <td>Xóa</td>
            <td>Bài thi</td>
        </tr>
    </thead>
    <tbody *ngIf="Total == 0">
        <tr>
            <td colspan="3">Hiện chưa có bài thi nào</td>
        </tr>
    </tbody>
    <tbody *ngIf="Total >0">
        <tr *ngFor="let item of ListExam">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.createBy}}</td>
            <td>{{item.isPublic}}</td>
            <td>{{item.levelId}}</td>
            <td>{{item.time}}</td>
            <td>{{item.questionCount}}</td>
            <td>
                <a [routerLink]="['/exam/exam-detail/'+item.id]" routerLinkActive="router-link-active" class="btn btn-outline-warning">
                Danh sách
            </a>
            </td>
            <td>
                <a [routerLink]="['/exam/gen-question/'+item.id]" routerLinkActive="router-link-active" class="btn btn-outline-success">
                Tạo câu hỏi
            </a>
            </td>
            <td>
                <a [routerLink]="['/exam/create-test/'+item.id]" routerLinkActive="router-link-active" class="btn btn-outline-secondary">
                Tạo test
            </a>
            </td>
            <td>
              <button (click)="deleteExam(item.id)" class="btn btn-outline-danger">
              Xóa đề thi
              </button>
          </td>
          <td>
            <a [routerLink]="['/exam/test-exam/'+item.id]" routerLinkActive="router-link-active" class="btn btn-outline-primary">
            Danh sách
        </a>
        </td>
        </tr>
    </tbody>
    <a [routerLink]="['/exam/add-exam/']" routerLinkActive="router-link-active" class="btn btn-success" style="margin-left: 5px;">
    Thêm đề thi
  </a>
</table>
<div *ngIf="TotalPage > 1">
    <app-paging [totalPage]="TotalPage" [currentPage]="urlQuery.pageNumber" (changePage)="ChangePageHandler($event)"></app-paging>
</div>

<a class="btn btn-outline-primary" [routerLink]="['/exam/test-create/']" style="margin-left: 5px;">Danh sách cuộc thi bạn đã tạo</a>
<app-notification></app-notification>
<app-footer></app-footer>
